<!DOCTYPE html>
<html lang="en" ng-app="overwatchApp">
  <head>
    <meta charset="utf-8">
    <title>Overwatch Team Grader</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel='icon' href='./assets/images/overwatchlogo.png' type='image/png'>
  </head>
  <body ng-cloak ng-controller="heroController as heroCtrl">
    <div class="container">
      <div class="row col-xs-12">
        <div ng-repeat="hero in heroCtrl.topHeroes" class="col-xs-1 hero-div" ng-click="heroCtrl.selectHero(hero)">
          <ow-hero hero="hero"></ow-hero>
        </div>
      </div>
      <div class="row col-xs-12">
        <div ng-repeat="hero in heroCtrl.middleHeroes" class="col-xs-1 hero-div" ng-click="heroCtrl.selectHero(hero)">
          <ow-hero hero="hero"></ow-hero>
        </div>
      </div>
      <div class="row col-xs-12 bottom-row">
        <div ng-repeat="hero in heroCtrl.bottomHeroes" class="col-xs-1 hero-div" ng-click="heroCtrl.selectHero(hero)">
          <ow-hero hero="hero"></ow-hero>
        </div>
      </div>
    </div>

    <div class="container grade-message">
      <h2 ng-if="heroCtrl.selectedHeroes.length < 6">Click on heroes above to add to your team!</h2>
      <button type="button" class="btn btn-md grade-btn" ng-click="heroCtrl.gradeTeam(heroCtrl.selectedHeroes)" ng-show="heroCtrl.selectedHeroes.length == 6">Grade Team</button>
      <h2 ng-if="heroCtrl.selectedHeroes.length == 6" style="color: {{heroCtrl.messageColor}};">{{heroCtrl.gradeMessage}}</h2>
      </div>
    </div>

    <div class="container">
      <div class="row col xs-12 team-row">
        <div class="team-hero-1 col-xs-2" style="background-image: url({{heroCtrl.selectedHeroes[0].image}}); background-size: cover">
        </div>
        <div class="team-hero-2 col-xs-2" style="background-image: url({{heroCtrl.selectedHeroes[1].image}}); background-size: cover">
        </div>
        <div class="team-hero-3 col-xs-2" style="background-image: url({{heroCtrl.selectedHeroes[2].image}}); background-size: cover">
        </div>
        <div class="team-hero-4 col-xs-2" style="background-image: url({{heroCtrl.selectedHeroes[3].image}}); background-size: cover">
        </div>
        <div class="team-hero-5 col-xs-2" style="background-image: url({{heroCtrl.selectedHeroes[4].image}}); background-size: cover">
        </div>
        <div class="team-hero-6 col-xs-2" style="background-image: url({{heroCtrl.selectedHeroes[5].image}}); background-size: cover">
        </div>
      </div>
    </div>

    <!-- scripts -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <!-- hero component -->
    <script type="text/javascript" src="js/components/heroes/heroes.config.js"></script>
    <script type="text/javascript" src="js/components/heroes/heroes.service.js"></script>
    <script type="text/javascript" src="js/components/heroes/heroes.directive.js"></script>
    <script type="text/javascript" src="js/components/heroes/heroes.controller.js"></script>
  </body>
</html>
