<div>
  <img ng-src={{hero.image}} class="hero-image">
  <p ng-if="hero.role == 'Offense'">{{hero.name}} <img ng-src="./assets/images/OffenseIcon.png" class="role-icon"></p>
  <p ng-if="hero.role == 'Defense'">{{hero.name}} <img ng-src="./assets/images/DefenseIcon.png" class="role-icon"></p>
  <p ng-if="hero.role == 'Tank'">{{hero.name}} <img ng-src="./assets/images/TankIcon.png" class="role-icon"></p>
  <p ng-if="hero.role == 'Support'">{{hero.name}} <img ng-src="./assets/images/SupportIcon.png" class="role-icon"></p>
</div>
