<!DOCTYPE html>
<html lang="en" ng-app="overwatchApp">
  <head>
    <meta charset="utf-8">
    <title>Overwatch Team Grader</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel='icon' href='./assets/images/overwatchlogo.png' type='image/png'>
  </head>
  <body ng-cloak ng-controller="heroController as heroCtrl">
    <div class="container">
      <div class="row col-xs-12">
        <div ng-repeat="hero in heroCtrl.topHeroes" class="col-xs-1 hero-div">
          <img ng-src={{hero.image}} class="hero-image">
          <p ng-if="hero.role == 'Offense'">{{hero.name}} <img ng-src="./assets/images/OffenseIcon.png" class="role-icon"></p>
          <p ng-if="hero.role == 'Defense'">{{hero.name}} <img ng-src="./assets/images/DefenseIcon.png" class="role-icon"></p>
        </div>
      </div>
      <div class="row col-xs-12">
        <div ng-repeat="hero in heroCtrl.middleHeroes" class="col-xs-1 hero-div">
          <img ng-src={{hero.image}} class="hero-image">
          <p ng-if="hero.role == 'Defense'">{{hero.name}} <img ng-src="./assets/images/DefenseIcon.png" class="role-icon"></p>
          <p ng-if="hero.role == 'Tank'">{{hero.name}} <img ng-src="./assets/images/TankIcon.png" class="role-icon"></p>
        </div>
      </div>
      <div class="row col-xs-12 bottom-row">
        <div ng-repeat="hero in heroCtrl.bottomHeroes" class="col-xs-1 hero-div">
          <img ng-src={{hero.image}} class="hero-image">
          <p ng-if="hero.role == 'Tank'">{{hero.name}} <img ng-src="./assets/images/TankIcon.png" class="role-icon"></p>
          <p ng-if="hero.role == 'Support'">{{hero.name}} <img ng-src="./assets/images/SupportIcon.png" class="role-icon"></p>
        </div>
      </div>
    </div>

    <!-- <div class="container col-xs-12">
      <div class="row col-xs-8 col-xs-offset-2">
        <div ng-repeat="hero in heroCtrl.offenseHeroes" class="col-xs-1">
          <img ng-src={{hero.image}} class="hero-image">
          <p>{{hero.name}}</p>
        </div>
        <div ng-repeat="hero in heroCtrl.defenseHeroes" class="col-xs-1">
          <img ng-src={{hero.image}} class="hero-image">
          <p>{{hero.name}}</p>
        </div>
        <div ng-repeat="hero in heroCtrl.tankHeroes" class="col-xs-1">
          <img ng-src={{hero.image}} class="hero-image">
          <p>{{hero.name}}</p>
        </div>
        <div ng-repeat="hero in heroCtrl.supportHeroes" class="col-xs-1">
          <img ng-src={{hero.image}} class="hero-image">
          <p>{{hero.name}}</p>
        </div>
      </div>
    </div> -->
    <!-- scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <!-- hero component -->
    <script type="text/javascript" src="js/components/heroes/heroes.config.js"></script>
    <script type="text/javascript" src="js/components/heroes/heroes.service.js"></script>
    <script type="text/javascript" src="js/components/heroes/heroes.controller.js"></script>
  </body>
</html>
